[include client.cfg]
[include shell_command.cfg]

[include 000_printer.cfg]
[include 001_stepper.cfg]
[include 002_extruder.cfg]
[include 003_bed.cfg]
[include 004_fan.cfg]
[include 010_host.cfg]
#[include 020_expansion.cfg]
[include 051_print_start_macros.cfg]
[include 052_print_macros.cfg]
[include 053_print_post_macros.cfg]
[include 054_maintenance_macros.cfg]
[include 055_led_macros.cfg]


